szwagier = "brother-in-law"
zasmucić, zmartwić = "upset"
szwagierka = "sister-in-law"
teściowa = "mother-in-law"
kolega z pracy = "colleague"
przebaczyć = "forgive"
zięć = "son-in-law"
targi sztuki = "art fair"
siostrzenica; bratanica = "niece"
kolega z drużyny = "teammate"
najlepszy przyjaciel/najlepsza przyjaciółka = "best mate"
sąsiad; sąsiadka = "neighbour"
obgadywać kogoś za jego plecami = "talking behind back"
kolega z klasy = "classmate"
karnawał = "carnival"
opera = "opera"
synowa = "daughter-in-law"
teatr uliczny = "street theatre"
pantomima = "pantomime"
maraton = "marathon"
cyrk = "circus"
pokaz iluzji, pokaz magicznych sztuczek = "magic show"
wesołe miasteczko = "funfair"
orkiestra = "orchestra"
wspinaczka ściankowa = "indoor climbing"
siostrzeniec; bratanek = "nephew"
balet = "ballet"
poezja = "poetry"
procesja = "procession"
szafran = "saffron"
pojedynek poetycki = "poetry slam"
wyprzedać = "sold out"
prawdopodobnie = "probably"
przepraszać kogoś za coś = "apologise to somebody for something"
sylwester = "New Year's Eve"
święty = "saint"
wieniec; girlanda; kłąb (dymu) = "wreath"
patron; opiekun = "patron"
parada; pochód; pokaz = "parade"
zaskoczony = "surprised"
klub dla młodzieży = "youth club"
królewski = "royal"
zadowolony = "pleased"
występ = "performance"
dostać awans = "get promoted"
sztuka = "play"
zarabiać pieniądze = "earn money"
potrafić pracować w zespole = "work in team"
zadrapać kolano = "scratch your knee"
pracować do późna = "work long hours"
pracować za granicą = "work abroad"
pracować wewnątrz = "work indoors"
pokłócić się z = "fall out with"
umiejętność komunikacji = "communication skill"
opiekować się kimś = "look after somebody"
pracować na zewnątrz = "work outdoors"
obsługiwać klinetów = "serve customers"
dostać pensję = "get a salary"
uzyskać kwalifikację = "get a qualification"
przejść szkolenie = "do a training course"
formularz zgłoszeniowy = "application form"
mieć doświadczenie w = "have experience of"
wypełnić formularz = "fill in"
wysłać CV = "send your CV"
złożyć podanie o pracę, ubiegać się o pracę = "apply for a job"
iść na rozmowę o pracę = "go for an interview"
oddychać = "breathe"
gratulować = "congratulate"
jedynak; jedynaczka = "only child"
czarownica; wiedźma = "witch"
doradca zawodowy = "careers adviser"
spokojnie = "calmly"
sklep z ubraniami od znanych projektantów = "designer clothes shop"
mowa ciała = "body language"
ubrudzić się błotem = "get muddy"
pobić kogoś (w sporcie); pokonać kogoś = "beat at"
zawstydzony, zakłopotany = "embarrassed"
profesjonalny; zawodowy = "professional"
grać zgodnie z zasadami = "play by the rules"
sektor = "sector"
narzekać na; skarżyć się na = "complain about"
wakat = "vacancy"
firma = "company"
uścisnąć sobie ręce = "shake hands"
utrzymywać kontakt wzrokowy = "make eye contact"
siedzieć prosto = "sit straight"
komentować (coś) = "comment on"
wrażenie = "impression"
mieć zdanie (o) = "feel about"
zadania, obowiązki = "responsibilities"
istotny = "relevant"
fizjoterapeuta = "physiotherapist"
renesans = "Renaissance"
ponownie wziąć ślub = "remarry"
szkoła wyższa = "college"
teść = "father-in-law"
mowa zależna = "reported speech"
ceremonia zaślubin = "wedding ceremony"
punkt widzenia = "point view"
wykres kołowy = "pie chart"
osobiście = "in person"
bliźnięta jednojajowe = "identical twins"
oszukiwać, stwarzać złudzenie, nabrać kogoś = "trick"
kłopot; zmartwienie = "trouble"
krewny = "relative"
książe = "prince"
potwierdzać = "confirm"
twarzą w twarz = "face face"
trwać = "last"
sądzić; osądzać; oceniać; sędziować = "judge"
chronić = "protect"
teściowie = "in-laws"
ogromny = "enormous"
pokrycie; okładka; narzuta; nakrycie; ochrona; osłona = "cover"
rozkaz; dowództwo = "command"
szkoła wyższa = "college"
doskonały = "excellent"
odmawiać = "refuse"
mieć doświadczenie w = "have experience of"
empatia, zrozumienie = "empathy"
rozstawać się; zrywać = "split up"
