pieniądze, pieniądz = "Geld"
cukierek = "Bonbon"
odzież = "Kleidung"
wycieczka = "Ausflug"
dom jednorodzinny = "Einfamilienhaus"
wymiana szkolna = "Schüleraustausch"
bon = "Gutschein"
pralka = "Waschmaschine"
sweter = "Pullover"
solenizant = "Geburtstagskind"
życzyć = "wünschen"
słodycze = "Süßigkeiten"
dawać, dać = "geben"
bluzka = "Bluse"
grać na telefonie, bawić się telefonem = "mit dem Handy spielen"
przyjęcie urodzinowe = "Geburtstagsparty"
ciasto, placek, ciastko = "Kuchen"
dostawać prezenty = "Geschenke bekommen"
wszystkiego dobrego = "alles Gute"
ulubione święto = "Lieblingsfest"
zaproszenie = "Einladung"
mówić, rozmawiać = "reden"
dżinsy = "Jeans"
walentynki, dzień św Walentego = "Valentinstag"
opłatek = "Oblate"
Dzień Ojca = "Vatertag"
koszulka z krótkimi rękawkami = "T-Shirt"
Dzień Matki = "Muttertag"
Dzień Nauczyciela = "Lehrertag"
Dzień Dziecka = "Kindertag"
urodziny = "Geburtstag"
uczestnik = "Teilnehmer"
widz = "Zuschauer"
dzwon, dzwonek, klosz = "Glocke"
miś pluszowy = "Teddybären"
zabawki = "Spielwaren"
noga = 'Bein"
plecy = "Rücken"
gabinet lekarski = "Arztpraxen"
ramię = "Arm"
szyja, gardło = "Hals"
oko = "Auge"
kolano = "Knie"
łokieć = "Ellbogen"
twarz, mina = "Gesicht"
konsultacja przez Internet = "Onlinesprechstunde"
ból = "Schmerz"
szybkiego powrotu do zdrowia = "gute Besserung"
dolegać = "fehlen"
maść = "Salbe"
krople do nosa = "Nasentropfen"
lekarstwo = "Medikament"
bóle głowy = "Kopfschmerzen"
mieć kaszel = "Husten haben"
dom szeregowy, budynek szeregowy = "Reihenhaus"
wieżowiec = "Hochhaus"
powtarzać klasę = "sitzen bleiben"
sadzać = "setzen"
siedzieć= "sitzen"
kłaść, składać = "legen"
