szwagier = "brother-in-law"
zasmucić, zmartwić = "upset"
szwagierka = "sister-in-law"
teściowa = "mother-in-law"
kolega z pracy = "colleague"
przebaczyć = "forgive"
zięć = "son-in-law"
targi sztuki = "art fair"
siostrzenica; bratanica = "niece"
kolega z drużyny = "teammate"
najlepszy przyjaciel/najlepsza przyjaciółka = "best mate"
sąsiad; sąsiadka = "neighbour"
obgadywać kogoś za jego plecami = "talking behind back"
kolega z klasy = "classmate"
karnawał = "carnival"
opera = "opera"
synowa = "daughter-in-law"
teatr uliczny = "street theatre"
pantomima = "pantomime"
maraton = "marathon"
cyrk = "circus"
pokaz iluzji, pokaz magicznych sztuczek = "magic show"
wesołe miasteczko = "funfair"
orkiestra = "orchestra"
wspinaczka ściankowa = "indoor climbing"
siostrzeniec; bratanek = "nephew"
balet = "ballet"
poezja = "poetry"
procesja = "procession"
szafran = "saffron"
pojedynek poetycki = "poetry slam"
wyprzedać = "sold out"
prawdopodobnie = "probably"
przepraszać kogoś za coś = "apologise to somebody for something"
sylwester = "New Year's Eve"
święty = "saint"
wieniec; girlanda; kłąb (dymu) = "wreath"
patron; opiekun = "patron"
parada; pochód; pokaz = "parade"
zaskoczony = "surprised"
klub dla młodzieży = "youth club"
królewski = "royal"
zadowolony = "pleased"
występ = "performance"
dostać awans = "get promoted"